/* COMMON */
/* project에 공통으로 영향을 미치는 선택자와 CSS 스타일들 명시 */


body{
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;
}


/* img 태그 : 인라인 요소 > 로고 밑에 생기는 약간의 여백을 없애기 위해 img 태그를 block요소로 변경 */

img{
    display: block;
}

a {
    text-decoration: none;
}

.inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

/* 버튼 공통 class .btn으로 묶어서 한 스타일로 제어할 수 있도록 해줌 */
.btn {
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    /* 요소의 크기 계산 기준 : border-box로 설정해서 padding이 들어가거나 margin이 들어간 만큼 요소가 커지지 않도록 제어 */
    box-sizing: border-box;
    /* a tag나 span tag에 버튼 부여해도 잘 나올 수 있도록  */
    display: block;
    transition: .4s;
}

.btn:hover {
    background-color: #333;
    color: #fff;
}

/* 버튼 스타일 제어: CSS를 먼저 작성해준다음에 HTML class 추가하는 방식을 배웠다(부트스트랩 방식) */
.btn.btn--reverse {
    background-color: #333;
    color: #fff;
}

.btn.btn--reverse:hover {
    background-color: transparent;
    color: #333;
}

.btn.btn--brown {
    color: #592B18;
    border-color: #592B18;
}

.btn.btn--brown:hover {
    color: #fff;
    border-color: #592B18;
}

.btn.btn--gold {
    color: #D9AA8A;
    border-color: #D9AA8A;
}

.btn.btn--gold:hover {
    color: #fff;
    border-color: #D9AA8A;
}

.btn.btn--white {
    color: #fff;
    border-color: #fff;
}

.btn.btn--white:hover {
    color: #333;
    border-color: #fff;
}

/* HEADER */
header {
    width: 100%;
    /* position: relative; */
    /* 브라우저의 뷰포트를 기준으로 배치를. width: auto > 최소값을 가지려는 속성 > 100%로 지정해줌 */
    position: fixed;
    top: 0;
    background-color: #f6f5f0;
    border-bottom: 1px solid #c8c8c8;
    /* 배지부분이 section 보다 항상 상위에 있을 수 있도록 배치 값 지정 */
    z-index: 9;
}

/* COMMON에 inner에 관한 부분을 정의해줬기 때문에 header의 자식요소인 inner에 관한 부분만 선택자로 지정 */
header > .inner {
    height: 120px;
}

/* logo의 height : 75px; */
header .logo {
    height : 75px;
    /* 위치상 부모요소 기준으로 배치하겠다는 선언 : 부모요소에 position 있는지 확인해야 함 */
    position : absolute;
    /* 해당요소가 위치상 부모요소를 기준으로 가운데 배치 */
    top : 0;
    bottom : 0;
    left : 0;
    /* margin 위/아래 값을 계산하게 하려면 요소의 height도 알아야 하기 때문에 위에 선언*/
    margin : auto;
}

/* sub 메뉴와 search 요소를 가로로 정렬 */
header .sub-menu {
    display: flex;
    position: absolute;
    top: 10px;
    right: 0;
}

header .sub-menu ul.menu {
    font-family: Arial, Helvetica, sans-serif;
        /* 수직으로 쌓여있는 요소를 수평으로 정렬 */
    display: flex;
}

header .sub-menu ul.menu li {
    position : relative;
}

/* 가상요소 선택자 before 사용 */
header .sub-menu ul.menu li::before {
/* content 없으면 가상요소 선택자 만들어지지 않는다 */
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background-color: #e5e5e5;
    /* diplay : block으로 자동으로 바뀐다 */
    position : absolute;
    top : 0;
    bottom : 0;
    margin : auto 0;
}

header .sub-menu ul.menu li:first-child::before {
    display: none;
    }

header .sub-menu ul.menu li a {
   font-size: 12px;
   /* 사용자가 링크 잘 클릭할 수 있도록 링크 영역을 넓혀준다*/
   padding: 11px 16px;
   display: block;
   color : #656565;
}

header .sub-menu ul.menu li a:hover {
    /* 링크 요소에 마우스를 올리면 font 색상이 검정색으로 변함 */
    color:black;    
}

/*  header .sub-menu .search .meterial-icons의 위치상 부모요소*/
header .sub-menu .search {
    height: 34px;
    position: relative;
}

/* 사용자가 글씨를 작성하는 창 */
header .sub-menu .search input {
    width: 36px;
    height: 34px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    color: #777;
    /* 창의 가로너비가 자연스럽게 늘어나도록 전환효과 부여 */
    transition: width .4s;    
}

/*사용자가 글씨를 작성하는 창이 focus 되었을 때, 가로 너비를 넓히고, 테두리 색을 바꾸어 줌  */
header .sub-menu .search input:focus {
    width: 190px;
    border-color: #669900;
}

header .sub-menu .search .material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1.5;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px; 
    margin: auto;
    transition: .4s;
}



/* 사용자가 서치 아이콘을 눌렀을 때, input요소가 focus될 수 있도록 만들기 위해서 JS를 사용 */

header .sub-menu .search.focused .material-icons {
    opacity: 0;
}

/*     z-index: 1;로 한 이유는 요소의 쌓임 순서 제어하기 위해서이다 : 드롭다운 메뉴를 누를 때, 오른 쪽의 배너보다 우선적으로 쌓이게 하기 위해서 */
header .main-menu {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
}

header .main-menu .item {
    
}

header .main-menu .item .item__name {
    padding: 10px 20px 34px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

header .main-menu .item:hover  .item__name {
    background-color: #2c2a29;
    color: #669900;
    border-radius: 6px 6px 0 0;
}

header .main-menu .item .item__contents {
    width: 100%;
    position: fixed;
    left: 0;
    display: none;
}

header .main-menu .item:hover .item__contents {
    display: block;
}
header .main-menu .item .item__contents .contents__menu {
    background-color:#2c2a29;
}

header .main-menu .item .item__contents .contents__menu > ul {
    display: flex;    
    padding: 20px 0;
}

header .main-menu .item .item__contents .contents__menu > ul > li {
    width: 220px;
}

header .main-menu .item .item__contents .contents__menu > ul > li h4 {
    padding: 3px 0 12px 0;
    font-size: 14px;
    color: #fff;
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li {
    padding: 5px 0px;
    font-size: 12px;
    color: #999;
    /* 마우스커서 : 버튼 등에 마우스를 올리면 손가락 모양으로 커서가 바뀜 */
    cursor: poniter;
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
    color:#669900;
}    

header .main-menu .item .item__contents .contents__texture {
    padding: 26px 0;
    font-size: 12px;
    background-image: url("../images/main_menu_pattern.jpg");
}

header .main-menu .item .item__contents .contents__texture h4 {
    color: #999;
    font-weight: 700;
}

header .main-menu .item .item__contents .contents__texture p {
    color: #669900;
    margin: 4px 0 14px;
}

header .badges {
    position: absolute;
    top: 132px;
    right: 12px;
}

header .badges .badge {
    border-radius: 10px;
    overflow: hidden;
    /* 요소의 아래쪽 바깥 여백 : 12px */
    margin-bottom: 12px;
    /* 그림자 설정 : x축으로 4px, y축으로 4px 이동, blur를 10px, rgba함수를 통해서 검정색 추가 */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .15);
    cursor: pointer;
}

/* FOOTER */

footer{
    background-color: #272727;
    border-top: 1px solid #333;
}

footer .inner{
    padding: 40px 0 60px  0;
}

footer .menu{
    display: flex;
    justify-content: center;
}

footer .menu li{
    position: relative;
}

/* li테그들 앞에 회색 점 */
footer .menu li::before{
    content: "";
    width: 3px;
    height: 3px;
    background-color: #555;
    /* position: absolute; > diplay:block으로 바뀐다 */
    position: absolute;
    top: 0;
    bottom: 0; 
    right: -1px;
    margin: auto;
}

/* li 태그 제일 앞의 점은 안 보이게 하겠다 */
footer .menu li:last-child::before{
    display: none;
}

footer .menu li a {
    color: #ccc;
    font-size: 12px;
    font-weight: 700;
    padding: 15px;
    display: block;
}

footer .menu li a.green {
    color: #669900;
}

footer .btn-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

footer .btn-group .btn {
    font-size: 12px;
    margin-right: 10px;
}

footer .btn-group .btn:last-child {
    margin-right: 0;
}

footer .info {
    margin-top: 30px;
    text-align: center;
}

footer .info span{
    margin-right: 20px;
    color: #999;
    font-size: 12px;
}

footer .info span:last-child {
    margin-right: 0;
}

footer .copyright{
    color: #999;
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
}

/* img 요소가 diplay: block; + margin: 0 auto;인 경우
width 속성이 없어도 가운데 정렬이 가능하다
logo는 img 태그로 만들어져있다(img요소), 이 요소에 display:block을  */
footer .logo{
    margin: 30px auto 0;
}